* {
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(43, 43, 43);
}

.Header {
    width: 100%;
    height: 65px;
    background: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;

    section {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    h1 {
        color: white;
        font-size: 28px;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    nav {
        width: 150px;
        display: flex;
        justify-content: space-between;
    }

    .active {
        color: rgb(187, 187, 187);
    }
}

input {
    outline: none;
}

.admin {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    section {
        width: 90%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    h1 {
        font-size: 30px;
    }

    button {
        width: 120px;
        height: 30px;
        font-size: 16px;
        font-weight: 600;
    }
}

.Hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    section {
        display: flex;
        flex-direction: column;
    }

    .hero_user {
        width: 400px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        background: black;
    }

    div {
        display: flex;
    }

    h1,
    p,
    h2 {
        color: white;
        font-size: 12px;
    }
}

.EditUser {
    width: 100%;
    z-index: 30;
    height: 100vh;
    background: rgba(3, 3, 3, 0.548);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    section {
        width: 400px;
        background: white;
        height: 300px;
        display: flex;
        align-items: center;
    }

    .edit_user {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    h1 {
        color: black;
        font-size: 40px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}